{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Loundry Management System</title>
  <link href="{% static 'css/welcomestyle.css'%}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
<div class="wrapper">
  <nav>
    <div class="content">
      <div class="logo"><a href="#">LMS</a></div>
      <ul class="links">
        <li><a href="/home">Home</a></li>
        <li><a href="/request">Loundry Request</a></li>
        <li><a href="#Laptop">Loundry Status</a></li>
        <li><a href="#products">About</a></li>
      </ul>
    </div>
    <div class="rightlink"><a href="#">Logout</a></div>
  </nav>
</div>
