{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Thank You "{{Name}}"</h1>
    <h1>Your Request have been done</h1>
    <h3>Your Tracking Id is {{TrackingId}}</h3>
    <h3>And it will be deliver at your address : "{{Address}}"</h3>
    

    <a href="../home">Go Home</a>
</body>
</html>